.sidebar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #ddd;
  align-items: center;
  /* margin: 0; */
  padding: 0;
  width: 30%;
  height: 50%;
}
.sidebar li {
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
}
