header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 3px ;
  /* background-color: yellow; */
  /* position: fixed;
    top: 0;
    width: 100%; */
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin-right: 1rem;
}
header li a{
    text-decoration: none;
}
