.sidebar-container,
.create,
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-container,
.create {
  width: 200px;
  padding: 10px;
}
.sidebar {
  list-style-type: none;
  background-color: #ddd;
  width: 100%;
  padding: 0;
  font-weight: 400;
}
.sidebar li {
  margin-top: .5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 500ms ease;
}
.sidebar li:hover {
  font-weight: bold;
}
.create-product {
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
  line-height: 2rem;
  text-align: center;
}
.create-product input {
  border: none;
  outline: none;
  padding: 3px;
  border-radius: 5px;
}
.create-product input[type="submit"] {
  background-color: #fca311;
  color: #fff;
  width: 100%;
  letter-spacing: 0.5rem;
  font-weight: 200;
  transition: all 300ms ease;
}
.create-product input[type="submit"]:hover{
    background-color: #fff;
  color: #fca311;
}